<%= provide(:page_title, 'Home') %>
<h1>Welcome to My Collection!</h1>
<h2>On this page you can find my personal favourites. Have a look around!</h2>
<p>
  Click <%= link_to 'here', items_path  %> to see the list of all the items in this collection.
</p>
<p>
  Click <%= link_to 'here', categories_path  %> to see the catagories available.
</p>
<p>
  If you have an existing account, log in <%= link_to 'here', '#' %>
</p>